<div class="row">
  <div class="col-md-6">
     <h2>list of news</h2>
  </div>
  <div class="col-md-6 text-right mt-3">
    <a [routerLink]="['../add']" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i></a>

  </div>

</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>description</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items , let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{item.title}}</td>
          <td>{{(item.body.length > 50) ? (item.body| slice:0:50) + '...' : item.body  }}</td>
          <td style="width: 150px">
            <a class="btn btn-default text-primary" [routerLink]="['../show' , item.id]">
              <i class="fa fa-eye"></i>
            </a>
            <a class="btn btn-default text-success" [routerLink]="['../edit' , item.id]">
              <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-default text-danger" >
              <i class="fa fa-trash"></i>
            </a>

            <!--(click)="deleteitem(deletemodel,item.id)"-->

          </td>
        </tr>
       
       
      </tbody>
    </table>